html {
    background-image: url(/cielo.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;    
    margin-top: 100px;
}

button {
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-style: dashed;
    padding: 10px;
}

button a {
    text-decoration: none;
    color: rgb(154, 80, 122);
}